TENANT_ID=id
CLIENT_ID=id
CLIENT_SECRET=secret
USER_ID=username@example.com

MSSQL_DRIVER=ODBC Driver 18 for SQL Server
MSSQL_SERVER=localhost,1433
MSSQL_DATABASE=mails
MSSQL_USERNAME=username
MSSQL_PASSWORD=password

FETCH_INTERVAL_SECONDS=300
RETENTION_DAYS=90
API_KEY=supersecretkey